html, body, canvas {
   margin: 0;
   padding: 0;
   position: relative;
   overflow: hidden;
   font-family: 'Strait', sans-serif;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

html, body {
   height: 100%;
   width: 100%;
}

#world {
   background-color: black;
   width: 300px;
   height: 300px;
   position: absolute;
   border: 5px solid #999;
}

#displayText {
   display: none;
   font-weight: bold;
   color: red;
   font-size: 30px;
}

#displayTextCenter {
   margin: 10px;
   text-align: center;
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   z-index: 1;
}

.hud {
   background-color: rgba(0,0,0,0.15);
   color: #EEE;
   padding: 5px 10px;
   border-radius: 5px;
   z-index: 1;
}

.hud .infoboxClose {
   position: absolute;
   top: 0;
   right: 0;
   padding: 15px;
   cursor: pointer;
   color: rgba(255,255,255,0.5);
   font-weight: bold;
   padding: 10px;
   font-size: 15px;
}

#displayHud {
   position: absolute;
   font-weight: bold;
   margin: 10px;
   font-size: 20px;
   right: 0;
   text-align: right;
}

#controls {
   font-weight: bold;
   margin: 10px;
   position: absolute;
   right: 0;
}

#controls .infoboxTitle {
   font-size: 20px;
   cursor: pointer;
   padding: 5px 0px;
}

.dark {
   color: #999;
}

/* SIDEBAR */
#sidebar {
   position: absolute;
   left: -250px;
   top: 72px;
   bottom: 67px;
   width: 240px;
   z-index: 3;
   color: white;
   display: none;
}

.tabContent {
   position: absolute;
   top: 37px;
   bottom: 37px;
   right: 0;
   left: 0;
   display: none;
   overflow: auto;
   background-color: #373741;
}

.tabContent.selected {
   display: block;
}

#storeSomethingSelected {
   display: none;
}

#sidebar .item {
   margin: 5px 5px 0px 5px;
   position: relative;
   display: none;
}

#sidebar .item .side {
   position: absolute;
   right: 0px;
   top: 0px;
}

#sidebar .item .sidebtn {
   width: 35px;
   height: 35px;

   cursor: pointer;

   background-image: url(/images/mod-show.png);
   background-repeat: no-repeat;
   background-position: top left;

   position: relative;
   top: 9px;
   right: 9px;

   opacity: 0.8;
}

#sidebar .item.selected .sidebtn {
   right: 26px;
}

#sidebar .item.expanded .sidebtn {
   background-image: url(/images/mod-hide.png);
}

#sidebar .item .sidebtn:hover {
   opacity: 1;
}

#sidebar .mods {
   margin: 0px 5px 0px 5px;
   font-size: 14px;
   color: #aaa;
   display: none;
}

#sidebar .mod .main {
   width: 202px;
   padding: 6px;
   background-color: #222;
   border: 3px solid #222;
   cursor: pointer;
   margin-left: 10px;
   margin-top: 5px;
   border-radius: 3px;
}

#sidebar .mod .main:hover {
   background-color: #333;
   border: 3px solid #333;
}

#sidebar .mod.selected .main {
   /*
   background-image: url(/images/checkmark-mod.png);
   background-position: top right;
   background-repeat: no-repeat;
   */
}

#sidebar .item .main {
   width: 212px;
   padding: 6px;
   background-color: #3E5B7A;
   border: 3px solid #506a86;
   cursor: pointer;
   border-radius: 3px;
}

#sidebar .item .main:hover {
   background-color: #436E9C;
   border: 3px solid #557ca5;
}

#sidebar .item .main:hover .cost {
   background-color: #557ca5;
}

#sidebar .item.selected .main {
   /*
   background-image: url(/images/checkmark-item.png);
   background-position: top right;
   background-repeat: no-repeat;
   */
}

#sidebar .main .cost {
   position: absolute;
   top: 0;
   right: 0;
   padding: 5px;
   background-color: #506a86;
   color: white;
   border-bottom-left-radius: 3px;
   border-top-right-radius: 3px;
}

#sidebar .tabContent .selected .main:hover .cost {
   background-color: #e6ad22;
}

#sidebar .tabContent .selected .main:hover {
   border: 3px solid #e6ad22;
   background-color: #af882c;
}

#sidebar .tabContent .selected .main .cost {
   background-color: #c29528;
}

#sidebar .tabContent .selected .main {
   border: 3px solid #c29528;
   background-color: #876d33;
}

#sidebarBottom {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   padding: 10px;
   background-color: #222;
   border-bottom-right-radius: 3px;
   border-bottom-left-radius: 3px;
}

#btnBuy {
   background-color: #9a7a2f;
   position: absolute;
   right: 5px;
   top: 5px;
   padding: 5px 10px;
   cursor: pointer;
}

#btnBuy:hover {
   background-color: #FFBF1F;
}

#btnBuy.disabled {
   background-color: #666;
   color: #aaa;
}

/* Progress Bar */
#progressBarContainer {
   position: absolute;
   right: 10px;
   bottom: 10px;
   width: 200px;
   height: 30px;
}

#progressBar {
   position: absolute;
   top: 5px;
   left: 5px;
   right: 5px;
   bottom: 5px;
   border: 1px solid white;
   background-color: #666;
   border-radius: 3px;
}

#progressBarProgress {
   position: absolute;
   left: 0; top: 0;
   bottom: 0;
   width: 20%;
   background-color: #bfd255;
   border-right: 1px solid white;
   border-radius: 1px;
}

#progressBarNumber {
   z-index: 1;
   display: none;
   color: black;
   font-weight: bold;
   position: absolute;
   right: 15px;
   top: 12px;
   text-align: center;
   font-size: 14px;
   text-shadow: 1px 1px rgba(255,255,255,0.5);
}

/**
 * HUD CONTROLS
 */

/* Store Button */
#storeSelectorContainer {
   position: absolute;
   bottom: 10px;
   left: 10px;
   width: 50px;
   height: 50px;
   padding: 0;
}

#storeSelector {
   position: absolute;
   top: 5px;
   left: 5px;
   bottom: 5px;
   right: 5px;
   font-size: 22px;
   line-height: 38px;
   text-align: center;
   cursor: pointer;
}

#storeSelector {
   background-color: #9a7a2f;
   border-color: #9a9343;
}

#storeSelector:hover {
   background-color: #FFBF1F;
   border-color: #FFF146;
}

.tab {
   padding: 10px 0px;
   position: absolute;
   top: 0px;
   text-align: center;
   background-color: #222;
   cursor: pointer;
}

.tab:hover {
   background-color: #565663;
}

.tab.selected,
.tab.selected:hover {
   background-color: #373741;
   cursor: default;
}

#tabStore {
   left: 0px;
   right: 120px;
   border-top-left-radius: 3px;
}

#tabInventory {
   left: 120px;
   right: 0px;
   border-top-right-radius: 3px;
}

/* Pause Button */
#pauseContainer {
   position: absolute;
   left: 65px;
   width: 50px;
   height: 50px;
   padding: 0;
   cursor: pointer;
}

#pauseButton {
   position: absolute;
   top: 10px;
   left: 5px;
   bottom: 10px;
   right: 5px;
   font-size: 22px;
   line-height: 30px;
   text-align: center;
}

/* Weapon Buttons */
#weaponSelectionContainer {
   position: absolute;
   left: 120px;
   height: 50px;
   padding: 0px 2px;
}

#weaponSelectionContainer .weaponSlot {
   float: left;
   height: 40px;
   width: 40px;
   margin: 5px 4px;
   position: relative;

   background-color: #444;
   outline: 1px solid #666;
}

#weaponSelectionContainer .weaponSlot.selected {
   /*
   outline: 3px solid orange;
   */
   box-shadow: 0px 0px 7px rgba(0,0,0,0.9);
   outline: 1px solid #888;
}

#weaponSelectionContainer .weaponSlot.disabled {
   background-color: #111;
   outline: 1px solid #555;
   background-color: transparent;

   /*
   -moz-box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.1);
   -webkit-box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.1);
   box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.1);
   */
}

#weaponSelectionContainer .slotCooldown {
   background-color: rgba(255,255,255,0.5);
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
}

/** TOUCH / KEYBOARD DIFFERENCES **/
#interfaceKeyboard #instructionsTouch { display: none; }
#interfaceTouch #instructionsKeyboard { display: none; }

#controls { bottom: 0; }
#storeSelectorContainer { top: 10px; }
#pauseContainer { top: 10px }
body #weaponSelectionContainer { bottom: 10px; left: 10px; }
#progressBarContainer { top: 10px; }
