.weaponSlot {
  font-weight: bold;
  margin: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.slotCooldown {
  background-color: rgba(100, 50, 50, 0.8);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 3px;
}
